body {
  background-color: rgb(245, 245, 245);
}
.profile {
  background: #aff;
  p {
    background: #faf;
  }
  img {
    background-size: 10px;
  }
}

.home-profile-container {
  .description {
    /* アニメーションの動き */
    .introName,
    .introOccupation {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      width: 0%;
    }
    .introName {
      animation: introName 2s linear;
      animation-fill-mode: forwards;
    }
    @keyframes introName {
      from {
        width: 0em;
      }
      50% {
        width: 10em;
      }
      to {
        width: 10em;
      }
    }
    .introOccupation {
      animation: introOccupation 2s linear;
      animation-fill-mode: forwards;
    }
    @keyframes introOccupation {
      from {
        width: 0em;
      }
      50% {
        width: 0em;
      }
      to {
        width: 13em;
      }
    }

    margin: 100px;
    flex-basis: 40%;
  }
  .image {
    flex-basis: 60%;
  }
}

.home-profile-container,
.home-index-container {
  display: flex;
  margin: 100px;
  border: 1px solid #fff;
  box-shadow: 2px 2px 4px rgb(156, 156, 156);
  background-color: white;
}

.home-index-container {
  flex-flow: column;
}

.header {
  position: fixed;
  display: flex;
  left: 12%;
  align-items: center;
  top: 20%;
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transform: translateY(-50%);
  z-index: 1;
}

.header li.icon-box {
  width: 50px;
  height: 50px;
  list-style: none;
  position: relative;
  display: flex;
  display: inline-block;
  align-items: center;
  transition: 0.3s;
  margin: 20px 0;
}

.header li.icon-box i {
  color: rgb(80, 80, 80);
  font-size: 19px;
  transition: 0.3s;
}

.header li.icon-box:hover i {
  // iはicon自体を指す(i-tag)
  color: rgb(240, 255, 173);
}
.header li.icon-box:hover {
  border-radius: 30%;
  background: #444444;
}

.header .icon-box i.fa {
  position: absolute;
}

.header i {
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  text-align: center;
  top: 15px;
}

hr.separator {
  border-top: 1px solid #252525;
  margin: 70px auto 55px;
  max-width: 40%;
}
.open-sans-font {
  font-family: 'Open Sans', sans-serif;
}

.about .resume-box {
  margin: 50px 100px 0;
}
.about .resume-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about .resume-box li {
  position: relative;
  padding: 0 20px 0 60px;
  margin: 0 0 50px;
}

.about .resume-box li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  border-left: 1px solid #333;
}

.about .resume-box .icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  line-height: 40px;
  text-align: center;
  z-index: 1;
  border-radius: 50%;
  color: #fff;
  background-color: #252525;
}

.about .resume-box .time {
  color: #fff;
  font-size: 12px;
  padding: 1px 10px;
  display: inline-block;
  margin-bottom: 12px;
  border-radius: 20px;
  font-weight: 600;
  background-color: #252525;
  opacity: 0.8;
}

.about .resume-box h5 {
  font-size: 18px;
  margin: 7px 0 10px;
}

.about .resume-box p {
  margin: 0;
  color: rgb(98, 98, 98);
  font-size: 14px;
}

.about .resume-box .place {
  opacity: 0.8;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  padding-left: 26px;
}

.about .resume-box .place:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 2px;
  background-color: #fff;
  left: 7px;
  top: 9px;
  opacity: 0.8;
}

.skillsGrid img {
  height: 150px;
  width: 150px;
  margin: 15px;
}
.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
